<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
       text="back"
       color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">buscarviaje</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header class="encabezado">
      <img src="assets/buscarviaje.svg" class="ion-padding imagen">
      <ion-card-title style="color:rgb(128, 38, 5); font-weight: bold;">Busca tu viaje</ion-card-title>
    </ion-card-header>
    <p class="texto">
      Busca un viaje para ti y tus compañeros, tenemos compañeros dispuestos a llevarte.
    </p>
  </ion-card>

  <ion-card>
    <img src="assets/chevrolet.jpg" class="ion-padding imagen">
    <ion-card-header class="encabezado">
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">CD-SA-78</ion-card-subtitle>
      <ion-card-title style="color:rgb(128, 38, 5); font-weight: bold;">CHEVROLET LOLO</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      <p class="texto">      
        PEÑAFLOR, PASAGE 5       
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="assets/ÑUÑUKI.jpg" class="ion-padding imagen">
    <ion-card-header class="encabezado">
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">GS-HF-56</ion-card-subtitle>
      <ion-card-title style="color:rgb(128, 38, 5); font-weight: bold;">ÑUÑUKI</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      <p class="texto">
        MAIPU, CALLE LAUTARO
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/mcken.jpg" class="ion-padding imagen">
    <ion-card-header class="encabezado">
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">OD-HF-36</ion-card-subtitle>
      <ion-card-title style="color:rgb(128, 38, 5); font-weight: bold;">MCUIN</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      <p class="texto">
        PADRE HURTADO, VILLA LAS TIRAS
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/SUBARY.jpg" class="ion-padding imagen">
    <ion-card-header class="encabezado">
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">RS-HD-34</ion-card-subtitle>
      <ion-card-title style="color:rgb(128, 38, 5); font-weight: bold;">SUBARY</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      <p class="texto">
        MAIPU, POBLACION TIROS
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/JUUP.jpg" class="ion-padding imagen">
    <ion-card-header class="encabezado">
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">IU-TY-43</ion-card-subtitle>
      <ion-card-title style="color:rgb(128, 38, 5); font-weight: bold;">JUUP</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      <p class="texto">
        SANTIAGO, CALLE LIBERTAD
      </p>
    </ion-card-content>
  </ion-card>


</ion-content>
