<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="success"></ion-icon>
       
      </ion-button>
    </ion-buttons>
    <ion-title>informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">informacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header class="encabezado">
      <ion-card-subtitle style="color:rgb(173, 108, 108); font-weight: bold;">DUOC UC</ion-card-subtitle>
      <ion-card-title style="color:coral; font-weight: bold;">TE LLEVO APP</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      <p class="texto">
        TeLlevoAPP es una aplicación móvil diseñada para facilitar el transporte de estudiantes 
        de instituciones de educación superior que necesitan regresar a sus hogares después de clases y 
        que pueden compartir vehículos con otros estudiantes que tienen movilización propia. 
        La aplicación busca resolver la problemática de la falta de transporte público o el alto costo 
        de servicios de transporte particular para estos estudiantes.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/info.jpg" class="ion-padding imagen">
    <ion-card-header class="encabezado">
      <ion-card-title style="color:coral; font-weight: bold;">Funciones de la APP:</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Registro de Viajes:</ion-card-subtitle>
        <p class="texto">     
          Los estudiantes 
          con vehículos personales registran sus viajes, incluyendo 
          fecha, hora, origen, destino y costo por persona.  
        </p>
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Búsqueda de Vehículos Disponibles:</ion-card-subtitle>
        <p class="texto">
          Los estudiantes sin vehículos buscan viajes 
        </p>
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Solicitud de Viaje:</ion-card-subtitle>
        <p class="texto">     
          Los estudiantes sin vehículo pueden solicitar asientos en viajes ofrecidos por otros estudiantes.
        </p>
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Coordinación de Viajes:</ion-card-subtitle>
        <p class="texto">     
          Los usuarios coordinan detalles como el punto de encuentro y el pago de tarifas a través de la aplicación.
        </p>
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Calificación y Comentarios:</ion-card-subtitle>
        <p class="texto">     
          Al finalizar el viaje, los usuarios pueden calificar y dejar comentarios sobre la experiencia.
        </p>
    </ion-card-content>
    <ion-card-header class="encabezado">
      <ion-card-title style="color:coral; font-weight: bold;">Cómo Utilizar:</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Iniciar Sesión:</ion-card-subtitle>
        <p class="texto">     
          Registrate o Ingresa a la aplicación con tu cuenta registrada.
        </p>
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Ofrecer Viaje:</ion-card-subtitle>
        <p class="texto">
          Registra tu vehículo y los detalles de tus viajes, incluyendo costos.
        </p>
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Buscar Viajes:</ion-card-subtitle>
        <p class="texto">     
          Busca viajes disponibles según tu ubicación y horario.
        </p>
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Solicitar Viaje:</ion-card-subtitle>
        <p class="texto">     
          Solicita asientos en viajes adecuados y coordina detalles con el conductor y otros pasajeros.
        </p>
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Coordinar Viajes:</ion-card-subtitle>
        <p class="texto">     
          Usa la aplicación para organizar la reunión y el pago del viaje.
        </p>
      <ion-card-subtitle style="color:blueviolet; font-weight:bold;">Calificación y Comentarios:</ion-card-subtitle>
        <p class="texto">     
          Evalúa y comenta sobre la experiencia después del viaje.
        </p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content class="contenido">
      <p class="texto">     
        TeLlevoAPP simplifica la organización 
        de viajes compartidos entre estudiantes, fomenta la asistencia a clases y 
        reduce la huella de carbono.
      </p>
    </ion-card-content>
  </ion-card>
  <img src="assets/inicio.png" class="ion-padding imagen">

</ion-content>

